<div style="background-color:#674f4f24;">
<h2 style="margin-bottom: 20px;">Sobre</h2>
<div>
    <img [src]="foto" class="imgleft" style="text-align: left; margin: auto">
    <h3 style="margin-top: -170px; margin-left: 330px; font-size: 16px;">Nome: {{ nome}}</h3>
    <h3 style="margin-left: 330px; font-size: 16px;">Email:{{ email }}}</h3>
    <h3 style="margin-left: 330px; font-size: 16px;">Companhia:{{ companhia }}</h3>
    <h3 style="margin-left: 330px; font-size: 16px;">Idade:{{ idade }}</h3>
    <h3 style="margin-left: 330px; font-size: 16px;">Bugtet:{{ bugtet }}</h3>
    <hr width=100%>
    <br>
</div>
</div>